# Folders
.vscode/*

# user settings
.*DS_Store/*
.DS_Store
.Rproj.user
*.Rproj

# file types
*.pdf
*.html
.gitignore
.RData
.Rhistory
*.tex
*.aux
*.log
*.synctex*
*.css
*.xlsx
*.doc*
*.ppt*
*.dfc*

# files
*.fdb_latexmk
*.aux
*.log
*.synctex.gz
*.bbl
*.fls
*.toc
*.xdv
*.blg

peer-assessment/*

# cached files
/*_cache/*
figure-testing.R
draft.r
.gitignore
MarraRadice2025-SuppCode.r
